:root {
    --color_1: #0E74B3;
    --color_2: #42B7FF;
    --color_3: #B36800;
    --color_4: #FFA529;
    --color_5: #12345678;
}

body {
    background: var(--color_2) url('MusicBox.png') no-repeat right top;
    margin: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    padding-left: 10px;
    height: 80px;
    justify-content: space-between;
}

header select {
    box-shadow: 2px 2px 4px var(--color_1);
    border-radius: 5px;
}

#container {
    display: flex;
}

#left-area {
    flex: 0;
    padding: 8px;
}

#right-area {
    flex: 1;
    margin: 24px 0 0 16px;
    box-shadow: none;
    background: none;
    border-radius: 0;
}

#result-area {
    height: calc(100vh - 104px);
    overflow-y: auto;
    word-wrap: anywhere;
    font-size: 22px;
    background: var(--color_5);
    box-shadow: 0 0 8px var(--color_5);
    outline: var(--color_5) 2px dashed;
}

.content {
    height: 100%;
    padding: 4px 8px;
    line-height: 1.5;
}

.content b {
    font-size: 20px;
}

.box-area {
    text-align: left;
    width: 100%;
    background: var(--color_4);
    box-shadow: 2px 2px 4px var(--color_3);
    border-radius: 10px;
    margin: 16px 0;
}

.box-area p {
    margin: 4px 0;
}

#button {
    text-align: center;
    height: 60px;
    font-size: 40px;
    color: var(--color_1);
}

input[type="radio"] {
    appearance: none;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    border: 2px solid white;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

input[type="radio"]:disabled {
    border: 2px solid var(--color_3);
}

input[type="radio"]:checked {
    background-color: var(--color_1);
}

.result {
    padding: 10px;
    margin: 16px 20px;
    user-select: none;
    background: #fbeed4;
    box-shadow: #aca088 2px 2px 4px;
    border-radius: 8px;
}